<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Домашная страница проекта toll-2018_Kurbatov</title>
</head>
<body>
    <h1>Welcome homepage!</h1>
        <p>CSS <a th:href="@{/css}">page</a>.</p>
        <p>Hello <a th:href="@{/hello}">page</a>.</p>
        <p>Routes <a th:href="@{/routes}">page</a>.</p>
        <p>Payment <a th:href="@{/payments}">page</a>.</p>
        <p>Managers <a th:href="@{/registerClient}">page</a>.</p>
        <p>Root <a th:href="@{/registerManager}">page</a>.</p>
        <p>Admin <a th:href="@{/admin}">page</a>.</p>
</body>
</html>